<button class="button compare-arrow-parrent">
    <a href="@Url.RouteUrl("compare")">
        Compare with other faculties<i class="fas fa-arrow-right ml-10 compare-arrow"></i>
    </a>
</button>
