/.vs/
/bin/
/obj/
/packages/
*.csproj.user
/Scripts/
/fonts/
/Content/
/node_modules/
Assets/js/dist/
yarn-error.log
/.vs/
/.vscode/
App_Data/uploads/*
ConnStrings.config
Advisor-Bot/bin/
Advisor-Bot/obj/
