@{
    ViewBag.Title = "Review";
}

<h2 class="mt-50">Leave a review</h2>
<p>Your reviews help fellow students evaluate their future choices.</p>
<ul class="nav nav-tabs mt-20">
    <li class="active">
        <a href="#studyProgramTab" data-toggle="tab">Study Program</a>
    </li>
    <li>
        <a href="#courseTab" data-toggle="tab">Course</a>
    </li>
    <li>
        <a href="#lecturerTab" data-toggle="tab">Lecturer</a>
    </li>
</ul>

<div class="tab-content">
    <div id="studyProgramTab" class="tab-pane active">
        @Html.Partial("Partials/_StudyProgramFormPartial")
    </div>

    <div id="courseTab" class="tab-pane">
        @Html.Partial("Partials/_CourseFormPartial")
    </div>
    <!--LECTURER TAB-->
    <div id="lecturerTab" class="tab-pane">
        @Html.Partial("Partials/_LecturerFormPartial")
    </div>
</div>
@section scripts
{
    <script>
        let count;

        function starmark(item) {
            console.log(item.id);
            count = Number(item.id[0]) + 1;
            var subid = item.id.substring(1);
            for (var i = 0; i < 10; i++) {
                if (i < count) {
                    document.getElementById(i + subid).style.color = "orange";
                }
                else {
                    document.getElementById(i + subid).style.color = "black";
                }
            }
        }
    </script>
}
