@{
    ViewBag.Title = "Compare";
}

<div class="container container-fluid">
    <div id="comparison"></div>
</div>

@section scripts
{
    <script src="~/Assets/js/dist/comparison.js"></script>
}