@using Advisor.Models

@{
    ViewBag.Title = "Universities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container container-fluid">
        <h2 class="mb-20">Search results (@ViewBag.Universities.Count) for '@ViewBag.SearchPhrase'</h2>
        @foreach (University university in ViewBag.Universities)
            {
                <div class="university-container card">
                    <a href="@Url.RouteUrl("universities_page", new {id = university.Id})">
                        <h3 class="font-light">@university.Title</h3>
                    </a>
                </div>
            }
    </div>
