@using Advisor.Models
@{
    ViewBag.Title = "Universities";
}
<h1><i class="fas fa-graduation-cap"></i>  @ViewBag.University.Title</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>About</h3>
            <div class="about-section">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <h3>Statistics</h3>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Overall rating</th>
                        <td id="Rating">#</td>
                    </tr>
                    <tr>
                        <th scope="row"># of faculties</th>
                        <td id="facultyCount">#</td>
                    </tr>
                    <tr>
                        <th>Average salary</th>
                        <td id="salary">#</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6" style="margin-top:20px">
       
            <iframe src="https://maps.google.com/maps?q=mif%20&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
           
        </div>
    </div>
</div>
