@using Advisor.Models
@{
    ViewBag.Title = "Universities";
}
<h1><i class="fas fa-graduation-cap"></i>  @ViewBag.University.Title</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>About</h3>
            <div class="about-section">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <h3>Statistics</h3>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Overall rating</th>
                        <td id="Rating">#</td>
                    </tr>
                    <tr>
                        <th scope="row"># of faculties</th>
                        <td id="facultyCount">#</td>
                    </tr>
                    <tr>
                        <th>Average salary</th>
                        <td id="salary">#</td>
                    </tr>
                </tbody>
            </table>
            <a class="compare-link" href="#"><h4>Compare with other universities <i class="fas fa-arrow-right"></i></h4></a>
        </div>
            <div class="col-sm-6">
                <iframe class="university-map" src="https://maps.google.com/maps?q=mif%20&t=&z=13&ie=UTF8&iwloc=&output=embed" allowfullscreen></iframe>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-6">
            <!--TODO: Add method in controller-->
            <h3>Faculties</h3>
            <div class="d-flex flex-wrap">
                @foreach (Faculty faculty in ViewBag.University.Faculties)
                {
                    <!--TODO: add link to faculty view-->
                <div class="faculty-container card">
                    <a href="@Url.RouteUrl("faculty_page",  new { id = faculty.Id })">
                        <h4>@faculty.Title</h4>
                    </a>
                    <div class="d-flex">
                        <div class="d-flex mr-5">
                            <p class="mr-5">
                                <i class="fas fa-book-open"></i>
                            </p>
                            <p class="mr-5">
                                @faculty.StudyPrograms.Count study programs
                            </p>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="col-sm-6">
            <!--TODO: Add method in controller-->
            <h3>Dormitories</h3>
            <div class="d-flex flex-wrap">
                @for (int i = 0; i < 4; i++)
                {
                <div class="dorms-container card">
                    <h4>Title</h4>
                    <div class="d-flex">
                        <div class="d-flex mr-5">
                            <p class="mr-5">
                                <i class="fas fa-star"></i>
                            </p>
                            <p class="mr-5">
                                Rating #
                            </p>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
