@{
    ViewBag.Title = "Home Page";
}
<div class="container container-fluid mt-50">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h2>Welcome to University Advisor!</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vivamus blandit ut urna a cursus. Nunc semper lacinia enim vel
                dapibus. Nullam consectetur, nunc nec malesuada iaculis, eros
                ipsum auctor dolor, eu fringilla arcu nunc id metus. Curabitur
                viverra aliquam erat ac gravida. Vestibulum ultrices aliquet rutrum.
                In hac habitasse platea. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vivamus blandit ut urna a cursus. Nunc semper lacinia enim vel
                dapibus. Nullam consectetur, nunc nec malesuada iaculis, eros
                ipsum auctor dolor, eu fringilla arcu nunc id metus. Curabitur
                viverra aliquam erat ac gravida. Vestibulum ultrices aliquet rutrum.
                In hac habitasse platea.
            </p>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="~/Assets/images/home-1.jpg" class="home-image">
        </div>
    </div>
</div>
