.login-container {
    padding: 40px 30px;
    border-radius: 5px;
    max-width: 500px;
    min-width: 320px;
    width: 40%;
    box-shadow: 3px 5px 15px 2px rgba(0, 0, 0, 0.1);
}

.login-logo {
    height: 40px;
    cursor: pointer;
    margin: 10px 25px 0 0;
}

    .login-logo:first-child {
        margin-right: 25px;
    }

.login-input {
    display: none;
}
