body {
}

.university-list {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.university-table-container {
    margin: auto;
    width: 1000px;
}

.add-link {
    color: #333;
}

.add-link:hover {
    color: #333;
}

.wider {
    width: 1060px;
}