body {
}

.list {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.table-container {
    margin: auto;
    width: 1000px;
}

.add-link {
    color: #333;
}

.add-link:hover {
    color: #333;
}

.wider {
    width: 1060px;
}

.table-container-course{
    margin: auto;
    width: 800px;
}

.course-list {
    width: 1000px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}