body {
}

.list {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.table-container {
    margin: auto;
    width: 1000px;
}

.table-container-course{
    margin: auto;
    width: 800px;
}

.course-list {
    width: 1000px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.admin-container {
    margin: auto;
    width: 1000px;
}

.admin-icons {
    width: 10%;
}

.admin-listItem {
    width: 90%;
}

.admin-icons-wider {
    width: 6%;
}

.admin-listItem-wider{
    width: 94%;
}