.list {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.admin-container {
    margin: auto;
}

.admin-icons {
    width: 10%;
}

.admin-listItem {
    width: 90%;
}

.admin-icons-wider {
    width: 6%;
}

.admin-listItem-wider {
    width: 94%;
}

.fas.fa-trash-alt:hover {
    color: var(--color-danger);
    transition: color .2s;
    cursor: pointer;
}

.fas.fa-edit:hover {
    color: var(--color-info);
    transition: color .2s;
    cursor: pointer;
}
