.input-dropdown {
    position: absolute;
    width: 340px;
    background: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 3px 5px 15px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.search-item {
    cursor: pointer;
    padding: 2px 10px;
}

.search-item:hover {
    background: rgba(0, 0, 0, 0.1);
}

.list-subitem {
    color: #5f5f5f;
    font-size: 12px;
    margin: 0;
}
