.faculty-map {
    height: 420px;
    width: 100%;
    border: 0;
}

@media only screen and (max-width: 600px) {
    .faculty-map {
        max-height: 200px;
    }

    .locations {
        display: none;
    }
}
