.mt-20 {
    margin-top: 20px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-20 {
    margin-bottom: 20px;
}

.w-50 {
    width: 50%;
}

.m-auto {
    margin: auto;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}
