body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Roboto, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mr-5 {
    margin-right: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.m-w-unset {
    max-width: unset;
}

.m-w-300 {
    max-width: 300px;
}

.m-w-400 {
    max-width: 400px;
}

.m-h-400 {
    max-height: 400px;
}

.m-auto {
    margin: auto;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.ph-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.card {
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    box-shadow: 3px 5px 15px 2px rgba(0, 0, 0, 0.1);
}

.card-text {
    word-wrap: break-word;
}

.card:hover {
    background: #f7f7f7;
    box-shadow: 3px 5px 15px 2px rgba(0, 0, 0, 0.3);
    border: 0;
}

.list-none {
    list-style-type: none;
}

.text-center {
    text-align: center;
}

.gray {
    color: #5f5f5f;
}

.review-list {
    background: #f8f8f8;
    width: 100%;
    border-right: 1px solid #c4c4c4;
    height: 500px;
    overflow-y: scroll;
    box-shadow: 3px 5px 15px 2px rgba(0, 0, 0, 0.1);
}

.review-details h5 {
    font-size: 19px;
    margin: 0 0 8px 0;
}

.review-details p {
    color: #989898;
    margin-top: 5px;
}

.review-container {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.font-light {
    font-weight: 300;
}

.button {
    border-radius: 4px;
    border: 0;
    background: #313131;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    text-align: center;
}

    .button:hover {
        background: black;
    }

.cloud-tag {
    padding: 10px 15px;
    border-radius: 20px;
    background: #313131;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
    transition: all .2s;
}

    .cloud-tag:hover {
        color: white;
        text-decoration: none;
        transform: scale(1.1, 1.1);
        background: black;
    }

    .cloud-tag:active {
        color: white;
        text-decoration: none;
    }

@media only screen and (max-width: 1200px) {
    .item {
        height: 400px;
    }

        .item > img {
            min-width: 100%;
            min-height: 100%;
        }
}

@media only screen and (max-width: 786px) {
    .card {
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    .item {
        height: 215px;
    }

        .item > img {
            min-width: 100%;
            min-height: 100%;
        }

    .compare-link {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .item {
        height: 180px;
    }

        .item > img {
            min-width: 100%;
            min-height: 100%;
        }

    .compare-link {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
