.thead-dark {
    background-color: #3c3e42;
    color: white;
}

.num {
    font-size: 50px;
    padding-left: 10px;
}

.w-80 {
    width: 80%;
    min-width: 100px;
}

@media only screen and (max-width: 500px) {
    .num{
        font-size: 30px;
        padding-left: 5px;
    }

    .w-80 {
        width: 100%;
    }
}