 textarea {
    max-width: 900px !important;
    margin-left:0px;
}

#review-text {
    height: 190px;
    width: 100%;
    resize: none;
}

.selectpicker form-control{
    width: 200px;
}

.inlinelabel label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float: left;
    margin-right: 15px;
}

#submit-btn {
    width: 280px;
    margin-top: 20px;
}

.review-container{
    margin-left: 100px;
}

.stars{
    font-size:20px;
}