 textarea {
    max-width: 900px !important;
    margin-left:0px;
}

#review-text {
    height: 190px;
    width: 100%;
    resize: none;
}
.review-textarea {
    height: 190px;
    width: 100%;
    resize: none;
}

.selectpicker form-control{
    width: 200px;
}

.sub {
    width: 280px;
    margin-top: 20px;
}

.review-container{
    margin-left: 100px;
}

.stars{
    font-size:19px;
}

.slidecontainer{
    width: 50%;
    font-weight: bold;
}

.slider {
-webkit-appearance: none;
width: 100%;
height: 15px;
border-radius: 5px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.slider-span-right{
    float: right !important;
    padding-bottom: 5px;
}

.slider-span {
    padding-bottom: 5px;
}
