.about-section {
    height: 165px;
    overflow-y: auto;
    padding: 6px;
    box-shadow: 3px 5px 15px 2px rgba(0,0,0,0.1);
}

.compare-link{
    color: #333;
}

.compare-link:hover{
    color: #333;
}

.dorm-map{
    width: 100%;
    border: 0;
    margin-top: 10px;
}
