.about-section {
    height: 165px;
    overflow-y: auto;
    padding: 6px;
    box-shadow: 3px 5px 15px 2px rgba(0,0,0,0.1);
}

.dorms-container {
    width: 600px;
    max-width: 40vw;
}

.faculty-container {
    width: 600px;
    max-width: 40vw;
}

.compare-link{
    color: #333;
}

.compare-link:hover{
    color: #333;
}

.university-map {
    width: 100%;
    height: 400px;
    border: 0;
}
